.tutorial-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0;
    padding:3rem 3rem 0;
    text-align: left;
}
.tuto-img{
    width:30vw;
    height: 100%;margin:0;
    border-radius: 3px;
}
.tutorial-container .informations{
    padding:0 3rem;
    line-height: 2rem;
}
.tutorial-container h3{
    font-weight: 200;
}
.tuto-release-date{
    font-weight: 200;
    color:aliceblue;
    margin-left: 1.2rem;
}
.tuto-vote-avg{
    margin-left: 1.2rem;

}
.fa-start-o:before{
    color:#f00;
}
.tutorial-container h1{
    margin-bottom: 0.2rem;
    font-weight: 400;
    line-height: 3.4rem;;
    font-size: 3rem;
}

.tutorial-container h1 span{
    font-size: 1.6rem;
}
.tutorial-container h3{
    margin-bottom: 1.2rem;
    margin-bottom: .8rem;

}

.tutorial-container .current-rate{
    margin-bottom: 1.2rem;
    margin-bottom: .8rem;

}
.film-elt{
    margin-bottom: .8rem;

}