.upcoming-card{
    width: 15vw;
    height: 300px;
    /* height: 400px; */
    position: relative;
    padding:3% 5%;
    background-color:var(--primary-color);
    /* color:var(--secondary-color); */
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
    border-radius: 3px;
    z-index: 1;
    transform: 0.5s;
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: center;


    /* min-width: 200px; */
   
}
.page-header{
 
    font-size: 2rem;
    margin:3rem 0;
    text-align: left;
}
.upcoming-card-image{
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    /* top:0; */
    z-index: 0;
}
.upcoming-card-title{
    position: absolute;
    top: 70%;
    /* left: 20px !important; */
    color: var(--white-50);
    width: 90%;
    /* font-size: .rem; */
    z-index: 4;
}
.upcoming-card-release{
    position: absolute;
    top:87%;
    left: 20px !important;;
    color: var(--white-50);
    width: 90%;
    z-index: 4;


}
.upcoming-img {
    height: 65%;
    position: absolute;
    width: 90%;
}
.upcoming-img:after {
    background-image: linear-gradient(to right bottom,rgba(0,0,0,.7),rgba(0,0,0,.6),rgba(0,0,0,.5),rgba(0,0,0,.4),transparent);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
.upcoming-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,15vw);
    grid-gap: 5vh 1vw;
   justify-content: center;
}
.upcomig-board,
.upcoming-board{
    padding: 0 2rem;
}
.upcoming-card:hover{
    /* transform: scale(1.2); */
    z-index: 1000;
}
.upcoming-card:hover .upcoming-img:after{
    display: none;
}

